<?xml version="1.0"?>
<!--
/**
 * Gerencianet
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Payment
 * @package    Gerencianet_Transparent
 * @copyright  Copyright (c) 2015 Gerencianet (http://www.gerencianet.com.br)
 * @author     AV5 Tecnologia <anderson@av5.com.br>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
       <Gerencianet_Transparent>
          <version>0.1.8</version>
       </Gerencianet_Transparent>
    </modules>
 
    <global>
        <models>
          <gerencianet_transparent>
            <class>Gerencianet_Transparent_Model</class>
       		<resourceModel>gerencianet_transparent_mysql4</resourceModel>
          </gerencianet_transparent>
          <gerencianet_transparent_mysql4>
			<class>Gerencianet_Transparent_Model_Mysql4</class>
			<entities>
	  			<notifications>
					<table>gerencianet_notifications</table>
				</notifications>
			</entities>
      	  </gerencianet_transparent_mysql4>
        </models>
        <helpers>
          <gerencianet_transparent>
            <class>Gerencianet_Transparent_Helper</class>
          </gerencianet_transparent>
        </helpers>
        <blocks>
            <gerencianet_transparent>
                <class>Gerencianet_Transparent_Block</class>
            </gerencianet_transparent>
        </blocks>
        <resources>
            <gerencianet_transparent_setup>
                <setup>
                    <module>Gerencianet_Transparent</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
		        	<use>core_setup</use>
		        </connection>
	            <gerencianet_transparent_write>
	                <connection>
	                    <use>core_write</use>
	                </connection>
	            </gerencianet_transparent_write>
	            <gerencianet_transparent_read>
	                <connection>
	                    <use>core_read</use>
	                </connection>
	            </gerencianet_transparent_read>
            </gerencianet_transparent_setup>
        </resources>
    </global>
 
    <default>
        <payment>
        	<gerencianet_transparent>
                <active>1</active>
                <model>gerencianet_transparent/standard</model>
                <title>Gerencianet</title>
                <allowspecific>0</allowspecific>
            </gerencianet_transparent>
            <gerencianet_card>
                <active>1</active>
                <model>gerencianet_transparent/card</model>
                <title>Cartão de Crédito</title>
                <allowspecific>0</allowspecific>
                <cctypes>VI,MC,AE,DI</cctypes>
                <payment_action>authorize</payment_action>
            </gerencianet_card>
            <gerencianet_billet>
                <active>1</active>
                <model>gerencianet_transparent/billet</model>
                <allowspecific>0</allowspecific>
                <duedate>0</duedate>
                <title>Boleto Bancário</title>
                <payment_action>authorize</payment_action>
            </gerencianet_billet>
         </payment>
    </default>

    <frontend>
		<events>
		  <sales_order_place_after>
		      <observers>
		          <gerencianet_transparent_updatecharge>
		              <type>model</type>
		              <class>gerencianet_transparent/observer</class>
		              <method>updatecharge</method>
		          </gerencianet_transparent_updatecharge>
		      </observers>
		  </sales_order_place_after>
		  <sales_order_payment_place_end>
		      <observers>
		          <gerencianet_transparent_updatecharge>
		              <type>model</type>
		              <class>gerencianet_transparent/observer</class>
		              <method>setNew</method>
		          </gerencianet_transparent_updatecharge>
		      </observers>
		  </sales_order_payment_place_end>
		</events>
		<routers>
		  <gerencianet_transparent>
		    <use>standard</use>
		    <args>
		      <module>Gerencianet_Transparent</module>
		      <frontName>gerencianet</frontName>
		    </args>
		  </gerencianet_transparent>
		</routers>
		<layout>
			<updates>
				<gerencianet_transparent>
		        	<file>gerencianet_transparent.xml</file>
		    	</gerencianet_transparent>
			</updates>
		</layout>
    </frontend>
    
    <crontab>
    	<jobs>
    		<gerencianet_transparent_updater>
    			<schedule>
    				<cron_expr>*/5 * * * *</cron_expr>
    			</schedule>
    			<run>
    				<model>gerencianet_transparent/updater::updatecharge</model>
    			</run>
    		</gerencianet_transparent_updater>
    	</jobs>
    </crontab>
</config>